{% for block in section.blocks %}
  {% assign image = block.settings.image %}
  {% assign video = block.settings.video %}
  <div class="product-slide">
    <div class="product-slide-content">
      {% if image %}
        <img
          class="product-slide-media"
          width="{{ image.width }}"
          height="{{ image.height }}"
          src="{{ image | image_url: width: 200 }}"
          srcset="{{ image | image_url: width: 300 }} 300w, {{ image | image_url: width: 400 }} 400w, {{ image | image_url: width: 500 }} 500w, {{ image | image_url: width: 600 }} 600w, {{ image | image_url: width: 700 }} 700w, {{ image | image_url: width: 800 }} 800w, {{ image | image_url: width: 900 }} 900w, {{ image | image_url: width: 1000 }} 1000w, {{ image | image_url: width: 1100 }} 1100w, {{ image | image_url: width: 1200 }} 1200w, {{ image | image_url: width: 1500 }} 1500w, {{ image | image_url: width: 1800 }} 1800w, {{ image | image_url: width: 2100 }} 2100w, {{ image | image_url: width: 2400 }} 2400w, {{ image | image_url: width: 2800 }} 2800w"
          sizes="100vw"
          alt="{{ image.alt | escape }}"
          loading="eager"
          fetchpriority="high"
        >
      {% elsif video %}
        {{
          video
          | video_tag:
            playsinline: true,
            controls: false,
            autoplay: true,
            muted: true,
            loop: true,
            class: 'product-slide-media'
        }}
      {% endif %}
    </div>
    <div class="product-slide-footer -desktop">
      <div class="product-slider-footer-part">
        {{ forloop.index }}/{{ section.blocks | size }}
        {{ block.settings.category }}
      </div>
      <div class="product-slider-footer-part">{{ block.settings.caption }}</div>
      <div class="product-slider-footer-part">
        <a class="button" href="{{ block.settings.button_link }}">
          View
          <svg class="button-border">
            <rect width="calc(100% - 2px)" height="calc(100% - 2px)" rx="5" />
          </svg>
        </a>
      </div>
    </div>
    <div class="product-slide-footer -mobile">
      <div class="product-slider-footer-part">
        <span>{{ forloop.index }}/{{ section.blocks | size }}</span>
        <span>{{ block.settings.category }}</span>
        <span>{{ block.settings.caption }}</span>
      </div>
      <div class="product-slider-footer-part">
        <a class="button" href="{{ block.settings.button_link }}">
          View
          <svg class="button-border">
            <rect width="calc(100% - 2px)" height="calc(100% - 2px)" rx="5" />
          </svg>
        </a>
      </div>
    </div>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Product slider",
  "tag": "div",
  "class": "product-slider",
  "blocks": [
    {
      "type": "slide",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "category",
          "label": "Category"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ]
}
{% endschema %}
